Django==6.0.3
djangorestframework==3.12.4
django-debug-toolbar==3.2.1
django-extensions==3.1.3
psycopg2-binary==2.9.3  # PostgreSQL database adapter
gunicorn==25.1.0  # WSGI HTTP server for deployment
django-celery==3.3.1  # Celery for asynchronous task processing
redis==4.1.0  # Redis for Celery message broker
flower==1.0.0  # Flower for monitoring Celery tasks
python-dotenv==0.19.2  # For managing environment variables
django-cors-headers==3.10.0  # For handling CORS in Django
django-filter==2.4.0  # For filtering in Django REST Framework
djangorestframework-simplejwt==4.8.0  # For JWT authentication
drf-yasg==1.20.0  # For API documentation with Swagger
legacy-cgi==2.6.4  # For handling legacy CGI scripts if needed
django-admin-thumbnails==1.0.0  # For generating thumbnails in Django admin
django-storages==1.12.3
setuptools==82.0.1  # For packaging and distribution
